@import "tailwindcss";

/* Styles globaux pour un défilement doux */
html {
  scroll-behavior: smooth;
}

/* Personnalisation de la barre de défilement (Scrollbar) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617; /* slate-950 */
}

::-webkit-scrollbar-thumb {
  background: #1e293b; /* slate-800 */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6366f1; /* indigo-500 */
}